@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    src: url(LibreBaskerville-400.woff2);
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 700;
    src: url(LibreBaskerville-700.woff2);
}

body {
    font-family: "Libre Baskerville";
    line-height: 1.6em;

    max-width: 60rem;
    margin: 1.5em auto;
    padding: 0 1em;
}

@media screen and (max-width: 600px) {
    body { font-size: 0.8em; }
}

a { text-decoration: none; }

p { margin-bottom: 1.5em; }
